@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";
@import './sopra-gradient.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button,
  summary {
    @apply cursor-pointer;
  }

  [data-slide='assignment'] h1::before {
    @apply text-gray-400;
    content: 'Opdracht: ';
  }
}

@layer components {
  .styled-scrollbar {
    scrollbar-color: --alpha(var(--color-slate-50) / 75%) transparent;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
}
