@property --x1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --h1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}

@property --x2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}
@property --h2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --x3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%;
}
@property --h3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%;
}

@property --x4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
@property --h4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}

@property --x5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}
@property --h5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --x6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}
@property --y6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 110%;
}
@property --w6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%;
}
@property --h6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%;
}

@layer components {
  .sopra-gradient {
    isolation: isolate;
    background: #cf022b;
    z-index: -1;
  }

  .sopra-gradient::before {
    position: absolute;
    display: block;
    content: '';
    inset: 0;
    mix-blend-mode: screen;
    filter: blur(10vmin);
    background:
    /* Bubble 1 */ radial-gradient(
        ellipse var(--w1) var(--h1) at var(--x1) var(--y1),
        #4d1d82,
        transparent 70%
      ),
      /* Bubble 2 */
        radial-gradient(
          ellipse var(--w2) var(--h2) at var(--x2) var(--y2),
          #8b1d82,
          transparent 70%
        ),
      /* Bubble 3 */
        radial-gradient(
          ellipse var(--w3) var(--h3) at var(--x3) var(--y3),
          #ef7d00,
          transparent 70%
        ),
      /* Bubble 4 */
        radial-gradient(
          ellipse var(--w4) var(--h4) at var(--x4) var(--y4),
          #4d1d82,
          transparent 70%
        ),
      /* Bubble 5 */
        radial-gradient(
          ellipse var(--w5) var(--h5) at var(--x5) var(--y5),
          #8b1d82,
          transparent 70%
        ),
      /* Bubble 6 */
        radial-gradient(
          ellipse var(--w6) var(--h6) at var(--x6) var(--y6),
          #ef7d00,
          transparent 70%
        );

    /* 
    Apply all the animations.
    Varying durations and using negative delays makes the
    movement appear random and desynchronized from the start.
  */
    animation: move-bubble-1 150s infinite ease-in-out, move-bubble-2 180s infinite ease-in-out -50s,
      move-bubble-3 220s infinite ease-in-out -80s, move-bubble-4 160s infinite ease-in-out -120s,
      move-bubble-5 200s infinite ease-in-out -30s, move-bubble-6 170s infinite ease-in-out -70s;
  }
}

@keyframes move-bubble-1 {
  0%,
  100% {
    --y1: 110%;
    --x1: 30%;
    --w1: 40%;
    --h1: 35%;
  }
  25% {
    --x1: 60%;
    --w1: 50%;
    --h1: 40%;
  }
  50% {
    --y1: -10%;
    --x1: 45%;
    --w1: 35%;
    --h1: 45%;
  }
  75% {
    --x1: 20%;
    --w1: 40%;
    --h1: 35%;
  }
}

@keyframes move-bubble-2 {
  0%,
  100% {
    --y2: 110%;
    --x2: 70%;
    --w2: 45%;
    --h2: 35%;
  }
  25% {
    --x2: 40%;
    --w2: 35%;
    --h2: 45%;
  }
  50% {
    --y2: -10%;
    --x2: 60%;
  }
  75% {
    --x2: 80%;
    --w2: 45%;
    --h2: 40%;
  }
}

@keyframes move-bubble-3 {
  0%,
  100% {
    --y3: 110%;
    --x3: 50%;
    --w3: 30%;
    --h3: 40%;
  }
  25% {
    --x3: 25%;
    --w3: 40%;
    --h3: 30%;
  }
  50% {
    --y3: -10%;
    --x3: 55%;
  }
  75% {
    --x3: 75%;
    --w3: 30%;
    --h3: 40%;
  }
}

@keyframes move-bubble-4 {
  0%,
  100% {
    --y4: 110%;
    --x4: 80%;
    --w4: 35%;
    --h4: 35%;
  }
  25% {
    --x4: 55%;
    --w4: 45%;
    --h4: 30%;
  }
  50% {
    --y4: -10%;
    --x4: 35%;
  }
  75% {
    --x4: 20%;
    --w4: 30%;
    --h4: 45%;
  }
}

@keyframes move-bubble-5 {
  0%,
  100% {
    --y5: 110%;
    --x5: 15%;
    --w5: 40%;
    --h5: 30%;
  }
  25% {
    --x5: 45%;
    --w5: 30%;
    --h5: 40%;
  }
  50% {
    --y5: -10%;
    --x5: 65%;
  }
  75% {
    --x5: 85%;
    --w5: 40%;
    --h5: 35%;
  }
}

@keyframes move-bubble-6 {
  0%,
  100% {
    --y6: 110%;
    --x6: 40%;
    --w6: 30%;
    --h6: 45%;
  }
  25% {
    --x6: 70%;
    --w6: 45%;
    --h6: 30%;
  }
  50% {
    --y6: -10%;
    --x6: 30%;
  }
  75% {
    --x6: 10%;
    --w6: 30%;
    --h6: 40%;
  }
}
